*{
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---Header--- */

.header-container{
  color: rgba(1, 1, 1, 0.689);
  display: flex;

}
.header-left{
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.haeedr-right{
  padding: 20px;
  width: 100%;
  justify-content: end;
  flex: 6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-left h2{
  font-weight: 700;
  color: rgb(52, 52, 178);
}
.header-world{
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-img img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}


/* ----Navbar--- */

.Navbar-container{
  font-size: 18px;  
  min-height: 90vh;
  display: flex;
  flex: 1;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.Navbar-container ul li{
  color: #7451f8;
  list-style: none;
  cursor: pointer;
  align-items: center;
  display: flex;
  padding: 10px 0px 0px 28px;
  gap: 10px;
}
.Navbar-container ul li p , .nav-item{
  color: #555;
}
.nav-item{
  padding:20px 0 10px 20px;
}


/* ---home--- */
.Home-comtainer{
  height: 100%;
  display: flex;
}
.Home-right{
  padding: 20px;
  display: flex;
  flex: 6;
}

/* ----homer-block--- */
.home-block-top{
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 250px;
  padding: 15px;
}
.home-block-left , .home-block-right{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.home-block-right{
  align-items: end;
}
.home-block-icon{
  display: flex;
  align-items: center;
  gap: 5px;
}
.Fauser{
  background-color: rgba(255, 0, 0, 0.534);
  padding: 8px;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px -2px -2px 0px;
}