*{
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

/* ---Header--- */

.header-container{
  color: rgba(1, 1, 1, 0.689);
  display: flex;

}
.header-left{
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.haeedr-right{
  padding: 20px;
  width: 100%;
  justify-content: end;
  flex: 6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-left h2{
  font-weight: 700;
  color: rgb(52, 52, 178);
}
.header-world{
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-img img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}


/* ----Navbar--- */

.Navbar-container{
  font-size: 18px;  
  min-height: 120vh;
  display: flex;
  flex: 1;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.Navbar-container ul li{
  color: #7451f8;
  list-style: none;
  cursor: pointer;
  align-items: center;
  display: flex;
  padding: 10px 0px 0px 28px;
  gap: 10px;
}
.Navbar-container ul li a{
  
  color: #7451f8;
  list-style: none;
  cursor: pointer;
  align-items: center;
  display: flex;
  /* padding: 10px 0px 0px 28px; */
  gap: 10px;
}
.Navbar-container ul li p , .nav-item{
  color: #555;
}
.nav-item{
  padding:20px 0 10px 20px;
}


/* ---home--- */
.Home-comtainer{
  height: 100%;
  display: flex;
}
.Home-right{
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 6;
}

/* ----homer-block--- */
.home-block-top{
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width:100%  ;
  max-width: 300px;
  padding: 15px;
}
.home-container-block-top{
  display: flex;
  height: fit-content;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
}
.home-block-left , .home-block-right{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.home-block-right{
  align-items: end;
}
.home-block-icon{
  font-weight: 700;
  color: rgba(3, 113, 3, 0.803);
  display: flex;
  align-items: center;
  gap: 5px;
}
.Fauser-4{
  color: #7451f8 !important;
  background-color: #7551f832 !important;
}
.Fauser-3{
  color: green !important; 
  background-color: rgba(0, 128, 0, 0.151) !important;
}
.Fauser-2 {
  color: orange !important;
  background-color: rgba(255, 166, 0, 0.184) !important;
}
.Fauser-1 , .Fauser-2 ,.Fauser-3 ,.Fauser-4{
  background-color: rgba(255, 0, 0, 0.185);
  color: rgb(158, 6, 6);
  padding: 8px;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px -2px -2px 0px;
}
.home-block-left h3{
  color: #555555b4;
}
.home-block-left p{
  text-decoration:underline rgba(0, 0, 0, 0.479);
}


/* ---Progressbar--- */
.Progressbar{
  width: 150px;
  height: auto;
}

/* ----progress-card---- */
.CircularProgressBar{
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.progress-card{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 30px;
  width: 400px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.progress-cart-top-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-botton{
  display: flex;
  justify-content: space-between;
}
.progress-botton-block{
  flex-direction: column;
  align-items: center;
  gap: 7px;
  display: flex;
}
.CircularProgressBar h1{
  color: black !important;
}
.progress-botton-block h2 , .CircularProgressBar{
  color: #555555a8;
}
.progress-icon{
  display: flex;
  gap: 7px;
  align-items: center;
}
.progress-icon.one{
  color: red ;
  font-weight: 700;
}
.progress-icon.two{
  color: green ;
  font-weight: 700;
}
.progress-icon.three{
  color: green ;
  font-weight: 700;
}

/* ---Charts--- */
.home-center{
  margin-top: 40px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.ReCharts h2{
  padding-bottom: 20px;
  padding-left: 20px;
  color: #555555b4;
}
.ReCharts{
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



/* ----Status-Chats---- */
.Status-Chats{
  padding-bottom: 100px;;
  display: flex;
  gap: 30px;
}